@use "variables" as *;
@use "mixins" as *;

.form-container {
  height: 100%;
  margin: 140px 0 80px 0;
  padding-inline: 25px;

  .wrap-form {
    width: 100%;
  }
}

.auth-form {
  width: 100%;
  font-family: "HaasMedium";
  font-size: $title;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .form-intro {
    row-gap: 10px;
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      text-transform: uppercase;
      font-family: "HaasBold", Helvetica, sans-serif;
    }

    p {
      opacity: 0.5;
    }
  }

  .google-button {
    font-family: "HaasRegular";
    font-size: $body-copy;
    margin-bottom: 25px;
    background: none;
    border: $border;
    color: $black;
  }

  .line-con {
    position: relative;
    width: 25%;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    .line {
      width: 100%;
      border-bottom: $border;
    }

    p {
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $off-white;
      padding: 0 10px;
    }
  }

  label p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  input {
    border: $border;
    background: none;
    padding: $input-padding;

    &:focus {
      outline: none;
    }
  }

  input.invalid-input {
    margin-bottom: 5px;
    border-color: $accent;
  }

  input.valid-input {
    border: $valid-input-border;
  }

  input,
  button {
    border-radius: 0;
    width: 100%;
    height: 48px;
    font-size: 16px;
  }

  button {
    border-radius: 30px;
  }

  button p {
    font-size: 16px;
  }

  .name .box:first-child {
    margin-bottom: 20px;
  }

  .password-con {
    position: relative;
    margin-bottom: 5px;
  }

  .password-con input {
    margin-bottom: 0;
  }

  button.hide-view-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    padding: 0;
    height: 20px;
    width: fit-content;
    transition: transform $td $ttf;

    &:active {
      transform: translateY(-30%);
    }
  }

  .error-message {
    background-color: rgba($color: $accent, $alpha: 0.2);
    padding: 10px;
    width: 100%;
    color: $accent;

    p {
      margin-bottom: 0;
      font-size: $body-copy;
    }

    ol {
      padding: 0 20px 0;
      font-size: $body-copy;
    }

    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  button {
    border: none;
    background: $black;
    color: $off-white;
    cursor: pointer;
    transition: transform 200ms linear;

    .arrow {
      padding: 4px 0 0;
    }

    &:active {
      transform: translateY(3px);
    }
  }

  button.submit-form {
    border: 1.25px solid $black;
    overflow: hidden;
    margin-bottom: 15px;
  }

  button[data-disable="false"] {
    opacity: 0.6;
    pointer-events: none;
  }

  .login-prompt {
    font-size: $body-copy;
    font-family: "HaasRegular", Helvetica, sans-serif;
    color: $black;
    text-align: center;

    a {
      color: $black;
      font-family: "HaasMedium";
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

/* Min-Width: 768px */
@include apply-from(tablet) {
  .form-container {
    margin-top: 0;
    padding-bottom: 0;
    height: 100vh;
    padding: $w-section-padding;

    .wrap-form {
      width: 55%;
      display: flex;
      justify-content: center;
    }
  }

  .auth-form {
    max-width: 420px;

    label {
      width: 100%;
    }

    input {
      padding-inline: $w-padding;
    }

    .name .box:first-child {
      margin-bottom: 0px;
    }

    .name,
    .password {
      display: flex;
      align-items: flex-start;
      column-gap: 10px;
    }
  }
}

/* Min-Width: 1200px */
@include apply-from(desktop) {
  .form-container {
    padding: 0;

    .wrap-form {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .box {
      width: 100%;
    }

    .auth-form {
      width: 70%;
    }
  }
}
