@use "variables" as *;
@use "mixins" as *;

.cart-overlay {
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba($color: $black, $alpha: 0.5);
  display: none;
}

.cart-preview {
  .header,
  .product-card {
    margin-bottom: 20px;
  }

  .header p {
    padding-top: 2px;
    font-family: "HaasMedium";
  }

  button {
    transition: opacity 200ms ease-out;
  }

  button:active {
    opacity: 0.4;
  }
}

.cart-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 95vw;
  z-index: 102;
  background-color: $off-white;
  transform: translateX(110%);
  padding-bottom: 110px;

  .header {
    padding: 20px;
    border-bottom: 1.5px solid rgba($color: $black, $alpha: 0.4);
  }

  .body {
    justify-content: flex-start;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  h2 {
    font-size: $body-copy;
    text-transform: uppercase;
    font-family: "HaasBold";
  }

  .body {
    height: 90%;
  }

  .products {
    width: 100%;
  }

  .item:not(:last-child) {
    border-bottom: 1.5px solid rgba($color: $black, $alpha: 0.4);
  }

  .item {
    padding-block: 20px;
  }

  .count {
    border: 1.5px solid rgba($color: $black, $alpha: 0.4);
    border-radius: 20px;
  }

  .count button {
    height: 30px;
    aspect-ratio: 1 / 1;
    background: transparent;
    transition: background 200ms ease-out;
    border-radius: 20px;

    &:hover {
      background: $gray;
    }

    &:active {
      opacity: 0.7;
    }
  }

  .count span {
    width: 15px;
    text-align: center;
  }

  .empty-state {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .empty-state h2 {
    text-wrap: nowrap;
  }

  .footer {
    border-top: 1.5px solid rgba($color: $black, $alpha: 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 20px;
    background-color: $off-white;
    z-index: 102;
  }

  .footer h2 {
    margin-bottom: 15px;
    text-align: center;
  }
}

@include apply-from(tablet) {
  .cart-container {
    max-width: 480px;
  }
}
