@use "variables" as *;
@use "mixins" as *;

.featured-image-container {
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  width: 100%;

  &[data-angel="true"] {
    position: relative;

    h3 {
      position: absolute;
      top: 10px;
      left: 20px;
      color: $off-white;
      font-size: $title;
    }

    &:nth-child(2) h3 {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(3) h3 {
      left: unset;
      right: 20px;
    }

    .cta {
      position: absolute;
      bottom: 30px;
      left: 20px;
    }
  }

  img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }
}

@include apply-from(tablet) {
  .featured-image-container {
    img {
      height: 55vh;
    }
  }
}

@include apply-from(desktop) {
  .featured-image-container {
    h3 {
      margin-top: 15px;
    }

    &[data-angel="true"] h3 {
      font-size: $header;
    }

    img {
      height: 72vh;
      transform: scale(1.7);
    }

    div {
      overflow: hidden;
    }
  }
}
