@use "variables" as *;
@use "mixins" as *;

.featured-container {
  margin-bottom: 75px;
  height: max-content;
  width: 100%;
  overflow: hidden;
  padding: $m-body-padding;
  cursor: pointer;

  .title {
    margin-bottom: 15px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    column-gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
  
  .image-con {
    width: 100%;
  }
}

@include apply-from(tablet) {
  .featured-container {
    padding: 0 35px;

    .title {
      margin-bottom: 20px;
    }

    .images {
      grid-template-columns: repeat(3, 50%);
    }

  }
}

@include apply-from(desktop) {
  .featured-container {
    margin-bottom: 150px;

    .title {
      margin-bottom: 35px;
    }

    .images {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
