@use "variables" as *;
@use "mixins" as *;

body {
  background-color: $off-white;
  color: $black;
  font-size: $body-copy;
  padding: $m-body-padding;
  font-family: "HaasRegular";
  letter-spacing: 0.02ch;
  overflow-x: hidden;
  margin: 0;
}

body h2 {
  font-size: $header;
  letter-spacing: -0.02ch;
  font-family: "HaasRegular" !important;
  font-weight: 200;
  line-height: 0.92;
}

body h3 {
  font-size: $title;
  letter-spacing: -0.02ch;
  font-family: "HaasRegular" !important;
  font-weight: 200;
  line-height: 0.92;
}

p {
  font-size: $body-copy;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body button {
  cursor: pointer;
  background: none;
  border: none;
  color: $black;
  -webkit-tap-highlight-color: transparent;
}

body input:focus {
  outline: none;
}

body a {
  color: $black;
  text-decoration: none;
  font-size: $body-copy;
}

*.flex {
  display: flex;
  align-items: center;

  &.wrap {
    flex-wrap: wrap;
  }

  &.jc-c {
    justify-content: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.fd-c {
    flex-direction: column;
    justify-content: center;
  }

  &.cg-5 {
    column-gap: 5px;
  }

  &.cg-10 {
    column-gap: 10px;
  }

  &.cg-15 {
    column-gap: 15px;
  }
}

/* Primary Button */
button.primary-btn {
  display: flex;
  font-size: $body-copy;
  align-items: center;
  column-gap: 6px;
  padding: 10px 20px 12px;
  border: 1.25px solid $off-white;
  border-radius: 30px;
  background-color: $off-white;
  color: $black;
  transition: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  letter-spacing: 0.02ch;

  p {
    margin-bottom: 0 !important;
    width: var(--width);
    text-wrap: nowrap;
    overflow-x: hidden;
  }

  &:hover {
    background-color: transparent;
    color: $off-white;
  }
}

// hide scrollbar
*.hide-scroll {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@include apply-from(tablet) {
  body {
    padding: 0;
  }
}
