@use "variables" as *;
@use "mixins" as *;

.men-footwear-container {
  position: relative;
  z-index: 10;
  margin-bottom: 75px;
}

@include apply-from(desktop) {
  .men-footwear-container {
    margin-bottom: 150px;
  }
}
