$breakpoints: (
  tablet: 700px,
  desktop: 1200px,
  large-desktop: 1440px
);

/* Media Querry */
@mixin apply-from($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)){
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map.";
  }
}