@use "variables" as *;
@use "mixins" as *;

.navmenu-container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: $black;
  position: fixed;
  left: 0;
  top: 0;
  padding: $m-section-padding;
  z-index: 100;
  overflow-y: scroll;
  padding-bottom: 120px;
  transform: translateX(-110%);

  button {
    color: $off-white;
  }

  .close-button {
    font-size: $title;
    margin-bottom: 65px;
  }

  .nav-option {
    padding: $w-padding 0;
    width: 100%;
    height: 60px;
    font-family: "HaasBold";

    &:not(:last-child) {
      border-bottom: $light-border;
    }
  }

  .login {
    position: absolute;
    bottom: 30px;
  }
}

/* Navbar Option */
.nav-option-container {
  color: $off-white;

  .previous p {
    opacity: 0.65;
  }

  .previous div {
    transform: rotate(180deg);
  }

  .previous {
    width: 100%;
    height: 60px;
    padding-block: $m-padding;
    border-bottom: $light-border;
    opacity: 0;
  }
}

/* Accordion */
.accordion-container {
  border-bottom: $light-border;
  width: 100%;
  display: grid;
  grid-template-rows: 60px 0fr;

  &:last-child {
    border-bottom: none;
  }

  button:not(.child-item) {
    padding: 22.5px 0;
    width: 100%;
    font-family: "HaasBold";
    text-transform: uppercase;
  }

  .children-con {
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    opacity: 0;
  }

  .children-con .child-item {
    color: $off-white;
    padding: $m-padding;
  }
}

@include apply-from(desktop) {
  .navmenu-container {
    display: none;
  }
}
