@use "variables" as *;
@use "mixins" as *;

.navbar-container {
  width: 100%;
  flex-wrap: wrap;
  padding: 15px 0;
  position: relative;

  a {
    color: $black;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    &.menu {
      font-size: $title;
    }
  }

  .logo-search-con {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-box {
    display: none;
  }

  .desktop-links {
    display: none;
  }

  .profile-link {
    display: none;
  }

  .m-search-button {
    margin-top: 6px;
  }

  .side-links a {
    height: 20px;

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

@include apply-from(tablet) {
  .navbar-container {
    padding: $w-section-padding;

    .profile-link {
      display: block;
    }
  }
}

@include apply-from(desktop) {
  .navbar-container {
    color: $black;
    pointer-events: none;

    &.menu-open {
      color: $off-white !important;
    }

    .desktop-links,
    .logo-search-con,
    .side-links {
      pointer-events: all;
    }

    .desktop-links {
      display: flex;
      column-gap: 25px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      a {
        position: relative;
        color: inherit;
      }

      a:hover {
        transition-delay: $td2;
        color: $off-white;
      }

      a.active-nav-menu {
        color: $black;
      }

      a.active-nav-menu::before {
        width: calc(100% + 9px);
      }

      a.menu-open:hover {
        color: $black;
      }

      a::before {
        content: "";
        position: absolute;
        left: -5px;
        top: 0;
        height: 100%;
        width: 0;
        background-color: $black;
        z-index: -1;
        transition: width $td2 ease-out;
      }

      a:hover::before {
        width: calc(100% + 9px);
      }

      /* Nenu Open */
      a.menu-open::before {
        background-color: $off-white;
      }
    }

    .menu {
      display: none;
    }

    .side-links {
      column-gap: 20px;
    }

    .m-search-button {
      display: none;
    }

    .logo-search-con {
      position: relative;
      left: 0;
      transform: none;
      justify-content: space-between;
      width: 27%;
    }

    .logo-search-con :first-child {
      cursor: pointer;
    }

    .search-box {
      display: block;

      input {
        background: none;
        border: none;
        font-size: $title;
        padding: 0;
        color: inherit;
      }
    }
  }
}
