@use "variables" as *;
@use "mixins" as *;

.navbar-container {
  flex-wrap: wrap;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $black;

  a {
    color: $off-white;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    &.menu {
      color: $off-white;
      font-size: $title;
    }
  }

  .logo-search-con {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .search-box {
    display: none;
  }

  .desktop-links {
    display: none;
  }

  .profile-link {
    display: none;
  }

  .m-search-button {
    margin-top: 6px;
  }

  .side-links a {
    height: 20px;

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

@include apply-from(tablet) {
  .navbar-container {
    left: 0;
    right: 0;
    padding: $w-section-padding;

    .profile-link {
      display: block;
    }
  }
}

@include apply-from(desktop) {
  .navbar-container {
    color: $black;
    pointer-events: none;
    padding-block: 20px;

    &.menu-open {
      color: $off-white;
    }

    .desktop-links,
    .logo-search-con,
    .side-links {
      pointer-events: all;
    }

    .desktop-links {
      display: flex;
      column-gap: 12px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      a {
        position: relative;
        color: $off-white;
        mix-blend-mode: difference;
        width: var(--width);
        font-family: "HaasMedium";
        font-size: $title;
        opacity: 0.4;
      }

      a:first-child:not(:hover) {
        opacity: 1;
      }

      a:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }

    .menu {
      display: none;
    }

    .side-links {
      column-gap: 20px;
    }

    .logo-search-con {
      position: relative;
      left: 0;
      transform: none;
      justify-content: space-between;
      width: 33%;
    }

    .logo-search-con :first-child {
      cursor: pointer;
    }

    .search-box {
      display: flex;
      align-items: center;
      column-gap: 10px;

      input {
        background: none;
        border: none;
        font-size: $title;
        padding: 3px 0 0 0;
        color: $off-white;
      }
    }
  }
}
