@use "variables" as *;
@use "mixins" as *;

.newfeatured-container {
  margin-bottom: 75px;

  .big-texts {
    margin-bottom: 35px;
    padding: 0 20px;
  }

  .control-btns {
    display: none;
  }
}

@include apply-from(tablet) {
  .newfeatured-container {
    .big-texts {
      padding-inline: 35px;
      margin-bottom: 75px;
    }
  }
}

@include apply-from(desktop) {
  .newfeatured-container {
    margin-bottom: $d-section-margin;
  }
}
