@use "variables" as *;
@use "mixins" as *;

.product-card-container {
  height: 480px;
  width: 100%;
  position: relative;
  font-family: "HaasMedium";
  scroll-snap-align: start;
  overflow-y: hidden;
  cursor: pointer;

  .image-container {
    height: 100%;
  }

  .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .product-details {
    position: absolute;
    background-color: $off-white;
    height: 20%;
    left: 0;
    width: 100%;
    bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .product-name .name {
    font-size: $title;
    font-family: "HaasBold";
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  .label {
    opacity: 0.4;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .price p {
    font-size: 14px;
  }

  .discount {
    color: $accent;
  }
}

@include apply-from(tablet) {
  .product-card-container {
    height: auto;
  }
}

@include apply-from(desktop) {
  .product-card-container {
    .product-details {
      height: 18%;
    }
  }
}
