@use "variables" as *;
@use "mixins" as *;

.product-card-container {
  height: max-content;
  width: 100%;
  display: grid;
  justify-items: start;
  padding-bottom: 2px;
  cursor: pointer;

  .image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .product-details {
    margin-top: 1;
  }

  .label {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 5px;
  }

  .name {
    font-family: "HaasBold", Helvetica, sans-serif;
    font-size: $body-copy;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .price {
    margin-bottom: 2px;
  }

  .price p,
  .size p {
    font-size: 12px;
  }

  .discount {
    color: $accent;
  }

  .size span {
    text-decoration: underline;
  }

  &.list-view {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    align-items: start;

    .image-container {
      width: 100px;
    }
  }
}

@include apply-from(tablet) {
  .product-card-container {
    .name {
      font-size: $body-copy;
    }
  }
}
